
:root {
    --colorColor0: #000614;    
    --colorColor10: #1f5eff;    
    --colorColor30: #477bff;    
    --colorColor40: #568aff;    
    --colorColor50: #7099ff;    
    --colorColor60: #85a7ff;    
    --colorColor70: #99b6ff;    
    --colorColor80: #adc5ff;    
    --colorColor90: #c2d3ff;    
    --colorColor95: #d6e2ff;    
    --colorColor99: #ebf0ff;    
    --colorColor100: #ffffff;    
}